*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
  }
  
  body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4f2f2;
  }
  
  .container{
    background-color: #b3d9d4;
    border-radius: 8px;
    margin: 14px;
    max-width: 600px;
    min-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0,0,0, 0.5);
    overflow: hidden;
    border: 2px solid #575757;
  }
  
  .header{
    background: #b3d9d4;
    padding: 50px;
    padding-bottom: 5px;
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    color: black;
  }
  
  .form{
    padding: 75px;
    padding-bottom: 100px;
    padding-top: 5px;
  }
  
  .form-content{
    margin-bottom: 15px;
    padding-bottom: 18px;
    position: relative;
  }
  
  .form-content label{
    display: inline-block;
    margin-bottom: 6px;
  }
  
  .form-content input{
    display: block;
    width: 100%;
    border-radius: 13px;
    padding: 8px;
    border: 2px solid #575757;
  }
  
  .form-content a{
    position: absolute;
    bottom: -2px;
    left: 0;
    visibility: hidden;
  }
  
  .form button{
    background-color: black;
    color: #FFF;
    width: auto;
    border-radius: 13px;
    padding: 10px;
    border: 0;
    font-size: 12px;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .form-content.error input{
    border-color: red;
  }
  
  .form-content.error a{
    color: red;
    visibility: visible;
  }

  
  
